<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hidden</title>
  </head>
  <body>
    <form action="/logout" method="post">
      <input type="submit" name="logout" value="logout"/>
    </form>
    <br>
    <form action="/write" method="get">
      <input type="submit" name="write" value="write">
    </form>
    <br>
    <form action="/board" method="get">
      <input type="submit" name="board" value="board">
    </form>
  </body>
</html>