<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="get">
        <input type="submit" value="login">
    </form>
    <br>
    <form action="/register" method="get">
        <input type="submit" value="register">
    </form>
    <br>
    <form action="/write" method="get">
      <input type="submit" value="write">
    </form> 
    <br>
    <form action="/board" method="get">
      <input type="submit" value="board">
    </form>
  </body>
</html>
