<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
</head>
<style>
    form {
        display: inline;
    }    
</style>
<body>
    <table border="1" style="width:80%">
        <tr>
            <td>num</td>
            <td>comment</td>
        </tr>
        <% 
        for(var i = 0; i < rows.length; i++) 
        {
        %>

        <tr>
            <td><%=i + 1%></td>
            <td><%=rows[i].comment %></td>
        </tr>
        <%}%>
        <tr>

        </tr>
    </table>
</body>
</html>