<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>writeComment</title>
</head>
<body>
    <form action="/writeComment/<%=id %>" method="get">
        ID : <input type="text" name="id" id='id' placeholder="who"> <br>
        <textarea name="comment" id="comment" cols="50" rows="10"></textarea> 
        <input type="submit" value="submit" id="submit">
    </form>

</body>
</html>